// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$laptop: 950px;
$desktop: 1024px;

// Colores
$azul: #0da6f3;
$rojo: #cb0000;
$verdeClaro:#007773;
$verde:#043a38;
$success: #d4edda;
$warning: #fff3cd;
$error: #f8d7da;
$negro: #11110e;
$base: #F7E5E2;

$blanco: #FFFFFF;
$gris: #c7c7c7;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;